/* Início CSS contato */

.contato {
    margin-top: 50px;
}
.form_main {
    width: 100%;
}
.form_main h4 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 18px;
    text-transform: uppercase;
}
.text-left {
    border-bottom: 1px solid #000000;
    padding-bottom: 9px;
    position: relative;
}
#text-local {
    border-bottom: 1px solid #000000;
    margin-bottom: 9px;
    position: relative;
}
.text-left span {
    background: #888888 none repeat scroll 0 0;
    bottom: -2px;
    height: 3px;
    left: 0;
    position: absolute;
    width: 130px;
}
.form-horizontal {
    border-radius: 107px;
    padding: 6px;
}
.form-control[type="text"] {
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 10px 0 10px 5px;
    width: 100%;
}
.form-control[type="email"] {
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 10px 0 10px 5px;
    width: 100%;
}

.form-control-msg[type="text"] {
    margin: 10px 0 0;
    padding: 10px 0 10px 5px;
    width: 100%;
}
.formbutton[type="submit"] {
    -moz-box-shadow: inset 0px 1px 0px 0px #87c0e6;
    -webkit-box-shadow: inset 0px 1px 0px 0px #87c0e6;
    box-shadow: inset 0px 1px 0px 0px #87c0e6;
    background-color: #297ee6;
    display: inline-block;
    border: 1px solid #2489d6;
    border-radius: 25px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-style: normal;
    line-height: 35px;
    margin: 10px 0;
    padding: 0;
    text-transform: uppercase;
    width: 30%;
}
.formbutton:hover {
    background-color: #31a1de;
}
.formbutton:active {
    position: relative;
    top: 1px;
}
.txt2:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #5793ef;
    transition: all 0.5s ease 0s;
}
/* fim CSS contato */
/* inicio css mapa */
.map{
    width: 100%;
    height: 300px;
}
.map iframe {
    width: 100%;
    height: 100%;
}
/* Fim CSS Mapa */

/* Início whatsapp */
.whatsapp {
    position: fixed;
    z-index: 2;
    top: 200px;
    right: 20px;
}
.whatsapp img {
    height: 60px;
}

/* efeitos pulse */
.whatsapp .pulse {
    animation: pulse 0.7s infinite;
margin: 0 auto;
display: table;
margin-top: 50px;
animation-direction: alternate;
-webkit-animation-name: pulse;
animation-name: pulse;
}
@-webkit-keyframes pulse {
0% {
    -webkit-transform: scale(1);
    -webkit-filter: brightness(100%);
}
100% {
    -webkit-transform: scale(1.1);
    -webkit-filter: brightness(110%);
}
}
@keyframes pulse {
0% {
    transform: scale(1);
    filter: brightness(100%);
}
100% {
    transform: scale(1.1);
    filter: brightness(110%);
}
}
/* fim efeito pulse */

/* fim whatsapp */


/* Inicío CSSS Card Produtos */
.text-center .mb-5 {
    margin-top: 20px;
}
.text-center .mb-5 .col-lg-4 {
    border: none;
}
.card img {
    max-height: 440px;
    width: 100%;
}
.bg-image {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}
 .mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
 }
.hover-overlay .mask{
    opacity: 0;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
 .hover-overlay .mask:hover {
    opacity: 1;
 }
 .card-body .btn {
    background-color: #56b4f3;
    color: white;
    font-weight: 400;
    border: none;

 }
/*  Fim CSS Card Produtos */

header {
    z-index: 1;
    background-color: #0f111c;
    height: 80px;
    position: relative;
    width: 100vw;
  }
  .conteudo-header {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
  }
  
  .logo {
    height: 60px;
  }
  .menu-header {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu-header a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.25em;
    transition: 0.3s;
  }
  .menu-header a:hover:not(.botao) {
    font-size: 1.6em;
    transition: 0.3s;
    text-shadow: 4px 4px 6px #0000007a;
  }
  /* inicio footer */
footer {
    display: block;
    height: auto;
    width: 100%;
    background-color: #0f111c;
    margin-top: 10px;
  }
  
  .rodape {
    padding: 50px 50px;
  }
  .rodape .container #img-logo {
    height: 50%;
    width: 50%;
    padding-left: 10px;
    transition: transform .3s;
    display: block;
  }
  .rodape .container #img-logo:hover {
    transform: scale(1.5);
  
  }
  .rodape .info-contato p {
        margin: 0;
        color: white;
  }
  .rodape a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 13px
  }
  .rodape a:hover {
    font-weight: bold;
  }
  .rodape .redes-sociais {
    display: inline-block;
  }
  .rodape .redes-sociais img {
    width: 50px;
    height: 50px;
    padding-left: 0;
    margin-left: 0.7rem;
    transition: transform .3s;
    border-radius: 15px ;
  }
  .rodape .redes-sociais img:hover {
    z-index: 1;
    transform: scale(1.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.446);
  }
  .rodape p.direitos {
    text-align: center;
    margin-top: 40px;
    color: white;
  }
  /* fim footer */